In [17]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split

In [25]:
# generate dataset
data = sns.load_dataset("titanic").drop(columns=["deck", "embarked", "embark_town", "class", "who", "alive", "sibsp", "parch"], axis=1)
train, test = train_test_split(data, test_size=0.2, random_state=42)

In [27]:
# save data to csv
train.to_csv("datasets/train.csv", index=False)
test.to_csv("datasets/test.csv", index=False)

In [3]:
import tempfile
from dagshub.streaming import DagsHubFilesystem
import pandas as pd

In [14]:
with tempfile.TemporaryDirectory() as tmpdir:

    
    fs = DagsHubFilesystem(
        tmpdir,
        repo_url="https://dagshub.com/omar.castano25/use_case_titanic",
        branch="dfeb3621c12941c09cb5f7f97cc7551eee8b18f4",
        token="0c0ed2fb18dd45cb779171f1aec0180b288c75cf"
    )

    train = pd.read_csv(fs.open(f"{tmpdir}/src/app/data/datasets/train.csv"))
    test = pd.read_csv(fs.open(f"{tmpdir}/src/app/data/datasets/test.csv"))

In [15]:
train

     survived  pclass
0           0       1
1           0       2
2           0       3
3           0       3
4           0       3
..        ...     ...
707         1       3
708         0       1
709         0       3
710         1       1
711         0       1

[712 rows x 2 columns]

In [16]:
test

     survived  pclass
0           1       3
1           0       2
2           0       3
3           1       2
4           1       3
..        ...     ...
174         0       3
175         0       3
176         1       3
177         1       2
178         1       3

[179 rows x 2 columns]